<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="bg-info text-white m-2 p-1">
        This is part of the layout
    </div>
    <h6 class="bg-primary text-white text-center m-2 p-2">
        @RenderSection("Header", false)
    </h6>
    <div class="bg-info text-white m-2 p-1">
        This is part of the layout
    </div>

    <div class="m-2">
        <table class="table table-sm table-striped table-bordered">
            <tbody>
                @RenderBody()
            </tbody>
        </table>
    </div>

    @if (IsSectionDefined("Footer"))
    {
        <div class="bg-info text-white m-2 p-1">
            This is part of the layout
        </div>
        <h6 class="bg-primary text-white text-center m-2 p-2">
            @RenderSection("Footer", false)
        </h6>
        <div class="bg-info text-white m-2 p-1">
            This is part of the layout
        </div>
    }
</body>
</html>
