<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script asp-src-include="lib/jquery/**/*.min.js" asp-src-exclude="**.slim.**" asp-append-version="true"></script>
</head>
<body>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
