<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="/lib/twitter-bootstrap/css/*.min.css" asp-href-exclude="**/*-grid*,**/*-reboot*" asp-append-version="true" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a asp-action="Index" asp-controller="Home">Home</a> | <a asp-page="/Index">Pages</a>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
