@page "/pages/form/{id:long?}"
@model WebApp.Pages.FormHandlerModel

<div class="m-2">
    <h5 class="bg-primary text-white text-center p-2">Html Form</h5>

    <form id="htmlform" asp-page="FormHandler" method="post">
        <div class="form-froup">
            <label>Name</label>
            <input asp-for="Product.Name" name="name" class="form-control" />
        </div>
        <div class="form-froup">
            <label>Price</label>
            <input asp-for="Product.Price" name="price" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
