@page "/pages/results"
@model WebApp.Pages.FormResultsModel

<div class="m-2">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr class="bg-primary text-center text-white">
                <th colspan="2">Form Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var key in TempData.Keys)
            {
                <tr>
                    <th>@key</th>
                    <td>@TempData[key]</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-action="Index">Return</a>
</div>
