@model Product
@{ 
    Layout = "_SimpleLayout";
}

<h5 class="bg-primary text-white text-center p-2">Html Form</h5>

<form id="htmlform" asp-action="submitform" method="post">
    <div class="form-froup">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

<button form="htmlform" asp-action="submitform" class="btn btn-primary mt-2">Submit (Outside)</button>