@model Product
@{ 
    Layout = "_SimpleLayout";
}

<h5 class="bg-primary text-white text-center p-2">Html Form</h5>

<form id="htmlform" asp-action="submitform" method="post">
    <div class="form-froup">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-froup">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-froup">
        <label asp-for="CategoryId"></label>
        <input asp-for="CategoryId" class="form-control" />
    </div>
    <div class="form-froup">
        <label asp-for="SupplierId"></label>
        <input asp-for="SupplierId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>